<!--The content below is only a placeholder and can be replaced.-->

<div id="root-container">

  <div id="bag">
    <div 
      *ngFor="let item of items"
      class="item"
      [class.has]="item['has']"
      (click)="incrementItem(item)"
    >
      <img [src]="'assets/img/' + item['image'] + '.png'" [title]="item['name']">
    </div>
  </div>

  <div id="map">
    <div 
      *ngFor="let check of checks" 
      class="check" 
      [class.visited]="check['visited']"
      (click)="visitCheck(check)"
    >
      <p>{{check['name']}}</p>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
